* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-VariableFont_slnt,wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

body {
  font-family: "Inter", sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  background-color: white;
  margin-right: 20px;
}

.nav-logo {
  display: flex;
  flex-direction: row;
  width: 5%;
  height: 5%;
  margin-left: 12%;
}

.nav-logo img {
  width: 100%;
  height: 100%;
}

.nav-menu {
  padding-right: 10%;
}

.nav-menu ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding-left: 10%;
  gap: 20px;
}

.nav-menu ul li a {
  text-decoration: none;
  color: grey;
  font-size: 15px;
}

/* Main Content */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 10%;
  padding-right: 10%;
  margin-top: 3%;
  width: 100vw;
}

.intro-section {
  display: flex;
  flex-direction: row;
  width: 90%;
  gap: 10px;
}

.hero-image-text {
  display: flex;
  flex-direction: column;
}

.hero-image {
  width: 100%;
  background-size: cover;
  background-position: center;
}

.hero-image img {
  width: 100%;
  height: 100%;
}

.hero-title h1 {
  font-size: 300%;
}

.hero-title-description {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: start;
  padding-top: 3%;
}

.hero-description {
  font-size: 80%;
  height: 100%;
  color: grey;
}

.hero-description p {
  font-size: large;
}
.hero-btn {
  margin-top: 20px;
  width: 50%;
}

.hero-btn a {
  text-decoration: none;
  color: black;
  background-color: tomato;
  padding: 10px 20px;
}

/* More news sections */

.more-news {
  display: flex;
  flex-direction: column;
  padding: 2%;
  background-color: #131316;
}

.more-news-title {
  color: goldenrod;
  font-size: 30px;
  margin-bottom: 20px;
}

.news-item {
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 8%;
}
.news-item h3 {
  color: white;
  font-size: 13px;
  padding-top: 2%;
}

.news-item p {
  color: white;
  font-size: 10px;
  padding-top: 2%;
}

.trending-news {
  margin-top: 5%;
}

.trending-news-list {
  display: flex;
  flex-direction: row;
}

.trending-news-item {
  display: flex;
  flex-direction: row;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 8%;
  justify-content: space-evenly;
}

#tr-pics {
  width: 50%;
  height: 100%;
}

#tr-pics img {
  width: 100%;
  height: 100%;
}

#trending-news-item-desc {
  display: flex;
  flex-direction: column;
  padding-left: 2%;
}

#trending-news-item-desc h1 {
  color: tomato;
}
